In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

23/03/06 10:32:21 WARN Utils: Your hostname, honeyeater resolves to a loopback address: 127.0.1.1; using 172.17.0.1 instead (on interface docker0)
23/03/06 10:32:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/06 10:32:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark.version

'3.3.2'

# Question 2

In [5]:
from pyspark.sql import types

In [11]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [15]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('week5/raw_data/fhvhv_tripdata_2021-06.csv')

In [16]:
df = df.repartition(12)

In [17]:
df.write.parquet('week5/parquet')

In [19]:
!ls -lh week5/parquet

total 271M
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00000-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00001-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00002-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00003-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00004-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00005-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00006-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00007-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00008-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00009-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00010-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel 23M Mar  6 11:07 part-00011-742f2140-abca-453f-9a1e-0c35020f034f-c000.snappy.parquet
-rw-r--r-- 1 apeel apeel   0 Mar  6 11:07 _SUCCESS

# Question 3

In [21]:
df = spark.read.parquet('week5/parquet')

In [22]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [23]:
from pyspark.sql import functions as F

In [24]:
df.count()

14961892

In [26]:
from datetime import date

In [29]:
df.filter(F.to_date(df.pickup_datetime) == date(2021, 6, 15)).show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02879|2021-06-15 08:47:23|2021-06-15 08:59:10|         239|         230|      N|                B02879|
|              B02872|2021-06-15 17:31:11|2021-06-15 17:48:23|         195|         144|      N|                B02872|
|              B02764|2021-06-15 14:35:27|2021-06-15 14:57:48|          36|          61|      N|                B02764|
|              B02510|2021-06-15 17:25:28|2021-06-15 17:32:13|         220|         220|      N|                  null|
|              B02880|2021-06-15 15:59:55|2021-06-15 16:51:05|          10|         265|      N|                B02880|
|              B02869|2021-06-15 19:45:48|2021-06-15 20:00:19|         140|          74|      N|                B02869|
|              B02510|2021-06-15 11:56:14|2021-06-15 12:37:43|         256|         237|      N|                  null|
|              B02872|2021-06-15 13:22:09|2021-06-15 13:36:50|         226|         179|      N|                B02872|
|              B02510|2021-06-15 15:57:08|2021-06-15 16:17:18|         152|          75|      N|                  null|
|              B02872|2021-06-15 01:24:45|2021-06-15 01:57:32|         132|         265|      N|                B02872|
|              B02510|2021-06-15 09:42:33|2021-06-15 09:54:23|         228|         228|      N|                  null|
|              B02875|2021-06-15 13:23:35|2021-06-15 13:39:16|         226|         138|      N|                B02875|
|              B02510|2021-06-15 19:43:14|2021-06-15 19:59:03|         226|         164|      N|                  null|
|              B02617|2021-06-15 12:04:45|2021-06-15 12:25:53|          90|         236|      N|                B02617|
|              B02888|2021-06-15 18:17:44|2021-06-15 18:23:10|         205|          38|      N|                B02888|
|              B02875|2021-06-15 07:32:31|2021-06-15 07:43:22|          36|         177|      N|                B02875|
|              B02871|2021-06-15 13:10:57|2021-06-15 13:46:39|         130|         265|      N|                B02871|
|              B02875|2021-06-15 14:01:28|2021-06-15 14:05:52|         174|         174|      N|                B02875|
|              B02876|2021-06-15 09:54:42|2021-06-15 10:10:54|         122|         265|      N|                B02876|
|              B02867|2021-06-15 21:10:00|2021-06-15 21:19:17|          48|         229|      N|                B02867|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [28]:
df.filter(F.to_date(df.pickup_datetime) == date(2021, 6, 15)).count()

452470

# Question 4

In [30]:
df \
  .withColumn('trip_duration', df.dropoff_datetime - df.pickup_datetime) \
  .show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|       trip_duration|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------------------+
|              B02617|2021-06-04 16:55:38|2021-06-04 17:01:55|         143|         142|      N|                B02617|INTERVAL '0 00:06...|
|              B02877|2021-06-04 03:18:39|2021-06-04 03:29:53|          80|         211|      N|                B02877|INTERVAL '0 00:11...|
|              B02883|2021-06-04 11:56:31|2021-06-04 12:15:25|          61|          17|      N|                B02883|INTERVAL '0 00:18...|
|              B02764|2021-06-02 22:53:33|2021-06-02 23:04:04|          68|         265|      N|                B02764|INTERVAL '0 00:10...|
|              B02875|2021-06-03 05:31:06|2021-06-03 05:48:09|         241|         242|      N|                B02875|INTERVAL '0 00:17...|
|              B02866|2021-06-04 21:04:08|2021-06-04 21:23:47|         255|         225|      N|                B02866|INTERVAL '0 00:19...|
|              B02887|2021-06-04 22:49:20|2021-06-04 23:00:40|          74|          42|      N|                B02887|INTERVAL '0 00:11...|
|              B02866|2021-06-02 05:01:27|2021-06-02 05:26:18|         158|         138|      N|                B02866|INTERVAL '0 00:24...|
|              B02875|2021-06-01 22:32:32|2021-06-01 22:47:06|          18|         119|      N|                B02875|INTERVAL '0 00:14...|
|              B02617|2021-06-04 21:55:30|2021-06-04 22:07:36|         256|          61|      N|                B02617|INTERVAL '0 00:12...|
|              B02510|2021-06-03 10:32:01|2021-06-03 11:04:25|         242|         167|      N|                  null|INTERVAL '0 00:32...|
|              B02617|2021-06-01 06:24:29|2021-06-01 06:57:40|          80|         132|      N|                B02617|INTERVAL '0 00:33...|
|              B02879|2021-06-02 18:29:25|2021-06-02 18:38:22|         236|         237|      N|                B02879|INTERVAL '0 00:08...|
|              B02864|2021-06-04 07:11:28|2021-06-04 07:37:48|         182|          75|      N|                B02864|INTERVAL '0 00:26...|
|              B02887|2021-06-05 10:35:47|2021-06-05 11:08:14|         126|         100|      N|                B02887|INTERVAL '0 00:32...|
|              B02875|2021-06-03 20:35:46|2021-06-03 20:55:01|          42|         235|      N|                B02875|INTERVAL '0 00:19...|
|              B02883|2021-06-03 17:39:46|2021-06-03 18:08:44|          61|          89|      N|                B02883|INTERVAL '0 00:28...|
|              B02866|2021-06-05 07:06:13|2021-06-05 07:23:46|         130|         265|      N|                B02866|INTERVAL '0 00:17...|
|              B02510|2021-06-04 21:33:08|2021-06-04 22:01:36|          79|          95|      N|                  null|INTERVAL '0 00:28...|
|              B02875|2021-06-03 17:15:20|2021-06-03 17:25:14|         144|          79|      N|                B02875|INTERVAL '0 00:09...|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------------------+
only showing top 20 rows

In [33]:
longest_trip = df \
  .withColumn('trip_duration', df.dropoff_datetime - df.pickup_datetime) \
  .agg(F.max('trip_duration')) \
  .collect()

In [34]:
longest_trip

[Row(max(trip_duration)=datetime.timedelta(days=2, seconds=67964))]

In [46]:
hours = longest_trip[0]['max(trip_duration)'].total_seconds() / (60 * 60)

In [47]:
hours

66.8788888888889

# Question 6

In [48]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('data/taxi_zone_lookup.csv')

In [51]:
df_zones.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [52]:
zones_schema = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True),
    types.StructField('Borough', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True)
])

In [53]:
df_zones = spark.read \
    .option("header", "true") \
    .schema(zones_schema) \
    .csv('data/taxi_zone_lookup.csv')

In [54]:
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [55]:
df_with_zones = df.join(df_zones, df.PULocationID == df_zones.LocationID)

In [56]:
df_with_zones.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|LocationID|  Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|              B02617|2021-06-04 16:55:38|2021-06-04 17:01:55|         143|         142|      N|                B02617|       143|Manhattan| Lincoln Square West| Yellow Zone|
|              B02877|2021-06-04 03:18:39|2021-06-04 03:29:53|          80|         211|      N|                B02877|        80| Brooklyn|   East Williamsburg|   Boro Zone|
|              B02883|2021-06-04 11:56:31|2021-06-04 12:15:25|          61|          17|      N|                B02883|        61| Brooklyn| Crown Heights North|   Boro Zone|
|              B02764|2021-06-02 22:53:33|2021-06-02 23:04:04|          68|         265|      N|                B02764|        68|Manhattan|        East Chelsea| Yellow Zone|
|              B02875|2021-06-03 05:31:06|2021-06-03 05:48:09|         241|         242|      N|                B02875|       241|    Bronx|Van Cortlandt Vil...|   Boro Zone|
|              B02866|2021-06-04 21:04:08|2021-06-04 21:23:47|         255|         225|      N|                B02866|       255| Brooklyn|Williamsburg (Nor...|   Boro Zone|
|              B02887|2021-06-04 22:49:20|2021-06-04 23:00:40|          74|          42|      N|                B02887|        74|Manhattan|   East Harlem North|   Boro Zone|
|              B02866|2021-06-02 05:01:27|2021-06-02 05:26:18|         158|         138|      N|                B02866|       158|Manhattan|Meatpacking/West ...| Yellow Zone|
|              B02875|2021-06-01 22:32:32|2021-06-01 22:47:06|          18|         119|      N|                B02875|        18|    Bronx|        Bedford Park|   Boro Zone|
|              B02617|2021-06-04 21:55:30|2021-06-04 22:07:36|         256|          61|      N|                B02617|       256| Brooklyn|Williamsburg (Sou...|   Boro Zone|
|              B02510|2021-06-03 10:32:01|2021-06-03 11:04:25|         242|         167|      N|                  null|       242|    Bronx|Van Nest/Morris Park|   Boro Zone|
|              B02617|2021-06-01 06:24:29|2021-06-01 06:57:40|          80|         132|      N|                B02617|        80| Brooklyn|   East Williamsburg|   Boro Zone|
|              B02879|2021-06-02 18:29:25|2021-06-02 18:38:22|         236|         237|      N|                B02879|       236|Manhattan|Upper East Side N...| Yellow Zone|
|              B02864|2021-06-04 07:11:28|2021-06-04 07:37:48|         182|          75|      N|                B02864|       182|    Bronx|         Parkchester|   Boro Zone|
|              B02887|2021-06-05 10:35:47|2021-06-05 11:08:14|         126|         100|      N|                B02887|       126|    Bronx|         Hunts Point|   Boro Zone|
|              B02875|2021-06-03 20:35:46|2021-06-03 20:55:01|          42|         235|      N|                B02875|        42|Manhattan|Central Harlem North|   Boro Zone|
|              B02883|2021-06-03 17:39:46|2021-06-03 18:08:44|          61|          89|      N|                B02883|        61| Brooklyn| Crown Heights North|   Boro Zone|
|              B02866|2021-06-05 07:06:13|2021-06-05 07:23:46|         130|         265|      N|                B02866|       130|   Queens|             Jamaica|   Boro Zone|
|              B02510|2021-06-04 21:33:08|2021-06-04 22:01:36|          79|          95|      N|                  null|        79|Manhattan|        East Village| Yellow Zone|
|              B02875|2021-06-03 17:15:20|2021-06-03 17:25:14|         144|          79|      N|                B02875|       144|Manhattan| Little Italy/NoLiTa| Yellow Zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [58]:
df_with_zones.groupBy('Zone').count().show()

+--------------------+------+
|                Zone| count|
+--------------------+------+
|           Homecrest| 42555|
|              Corona| 48578|
|    Bensonhurst West| 52137|
|         Westerleigh| 10980|
|Charleston/Totten...|  5481|
|          Douglaston|  8849|
|      Newark Airport|   228|
|          Mount Hope| 73909|
|East Concourse/Co...| 74920|
|      Pelham Parkway| 50198|
|         Marble Hill| 14781|
|           Rego Park| 38686|
|Upper East Side S...|124621|
|       Dyker Heights| 24657|
|Heartland Village...| 15737|
|   Kew Gardens Hills| 24636|
|       Rikers Island|     3|
|             Bayside| 28515|
|     Jackson Heights|114413|
|TriBeCa/Civic Center|164344|
+--------------------+------+
only showing top 20 rows

In [61]:
df_with_zones.groupBy('Zone').count().orderBy('count', ascending=False).show()

+--------------------+------+
|                Zone| count|
+--------------------+------+
| Crown Heights North|231279|
|        East Village|221244|
|         JFK Airport|188867|
|      Bushwick South|187929|
|       East New York|186780|
|TriBeCa/Civic Center|164344|
|   LaGuardia Airport|161596|
|            Union Sq|158937|
|        West Village|154698|
|             Astoria|152493|
|     Lower East Side|151020|
|        East Chelsea|147673|
|Central Harlem North|146402|
|Williamsburg (Nor...|143683|
|          Park Slope|143594|
|  Stuyvesant Heights|141427|
|        Clinton East|139611|
|West Chelsea/Huds...|139431|
|             Bedford|138428|
|         Murray Hill|137879|
+--------------------+------+
only showing top 20 rows